* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url(homebackground.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    
}

.aboutheader{
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(4,9,30,0.4), rgba(4,9,30,0.4)), url(homebackground.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    
}


#padding{
    padding: 3%;
    background: #eee;
}

#section-margin{
    margin: 30px 0;
}

nav img{
    width: 70px;
    border-radius: 10%;
    padding: 10px 0;
}

nav{
    display: flex;
    padding: 1% 6%;
    align-items: center;
    justify-content: space-between;
    
}
.nav-links{
    flex: 2;
    text-align: right;
    padding: 5px 8%;
}
.nav-links ul li{
    list-style: none;
    padding: 1% 1%;
    display: inline-block;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: red;
    display: block;
    transition: .5s;
}

.nav-links ul li:hover:after{
    width: 100%;
}
.buy a{
    position: absolute;
    bottom: 91%;
    font-size: 15px;
    background-color: cadetblue;
    padding: 3px 30px;
    border: none;
    list-style: none;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    margin: auto;
}

/* .hero-img .arrow{
    color: #2fd3c8;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.hero-img .arrow p{
    margin: 20px 30px;
} */

.text-box{
    width:90%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px 0;   
}
.text-box h1{
    font-size: 40px;
}

.text-box p{
    margin: 15px 0 40px;
    font-size: 17px;
}

.hero-btn{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 30px;
    position: relative;
    background: transparent;
    transition: 1s;
}
.hero-btn:hover{
    background-color: cadetblue;
}

#hide{
    display: none;
}
#show{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 28px;
    }

    .text-box p{
        margin: 10px 0 40px;
        font-size: 14px;
    }
    .buy{
        display: none;
    }

    .nav-links{
        position: absolute;
        background-color: cadetblue;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        z-index: 2;
        text-align: left;
        color: #fff;
        transition: 1s ease;
    }
    .nav-links ul li{
        display: block;
        padding-top: 40px;
    }
  
    .nav-links ul{
        padding: 5px 10px;
        font-size: 12px;
    }
    span{
        display: block;
        color: #fff;
    }

    nav span img{
        width: 40px;
    }
    
    #hide{
        display: block;
        width: 40px;
        position: absolute;
        left: 5px;
        margin-top: -7px;
    }
    #show{
        display: block;
    }
    .buy a{
        background: rgb(17, 78, 80);
        border: none;
        display: none;
    }
    .nav-links ul li::after{
        background-color: cadetblue;
    }

   
}

.product1{
    text-align: center;
    overflow: hidden;
}

.product1 .pro{
    width: 10%;
    min-width: 140px;
    padding: 10px 12px;
    border: 1px solid rgb(43, 40, 40);
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    background: #ffffff;
    position: relative;
}

.product1 .pro-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
} 

.product1 .pro img{
    width: 100%;
    border-radius: 10px;
}

.product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

.product1 .pro .des span{
    color: rgb(75, 72, 72);
    font-size: 12px;
}
.product1 .pro .des h5{
    padding: 5px 0;
    font-size: 14px;
}

.product1 .pro .des .star img{
    padding: 2px 0;
    width: 15px;
}

.product1 .pro .des h4{
    color: cadetblue;
    padding: 2px 0;
    font-size: 15px;
    font-weight: bold;
}

.product1 .pro .cart{
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: 2px solid rgb(235, 136, 8);
  background: rgb(16, 141, 141);
  line-height: 10px;
  padding: 7px;
  text-decoration: none;
  position: absolute;
  bottom: 17px;
  right: 8px;
}



.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(shadda2.jpg);
    width: 100%;
    padding: 5% 0;
    background-position: center;
    background-size: cover;
}

.banner h4{
    color: #fff;
}
.banner h2{
    color: #fff;
    padding: 12px 0;
}


.banner span{
    color: #e21a1a;
}

.banner a{
    text-decoration: none;
    background: cadetblue;
    border:none;
    border-radius: 10px;
    color: #fff;
    width: 30%;
    padding: 10px;
    position: relative;
    left: 35%;
    margin: 15px 0;
    font-size: 16px;
    transition: 1s;
}
.banner a:hover{
    background: rgb(144, 214, 216);
}

.small-banner .banner-box{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(shadda2.jpg);
    width: 700px;
    padding: 10% 0 0 0;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.small-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.small-banner h4{
    color: #fff;
}
.small-banner span{
    color: #afaaaa;
}
.small-banner  h2{
    color: #fff;
    padding: 12px 0;
}

.small-banner  a{
    text-decoration: none;
    background: cadetblue;
    border:none;
    border-radius: 10px;
    color: #fff;
    width: 30%;
    padding: 15px;
    position: relative;
    left: 35%;
    margin: 35px 0;
    font-size: 15px;
    transition: 1s;
}
.small-banner  a:hover{
    background: rgb(144, 214, 216);
}

.newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(shadda2.jpg);
    background-position: center;
    background-size: cover;
    padding: 40px 35px;
}
.newsletter h4{
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
}

.newsletter p{
    color: #afaaaa;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0;
}

.newsletter p span{
    color: rgb(182, 135, 18);
    display: inline;
}

.newsletter input{
    height: 3.125rem;
    width: 100%;
    padding: 0 1.25em;
    font-size: 16px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.newsletter button{
    color: #fff;
    font-size: 16px;;
    background: cadetblue;
    border: none;
    border-radius: 5px;
    padding: 0 1.25em;
    white-space: nowrap;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.newsletter .form{
    margin: 15px;
    display: flex;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .row img{
    width: 150px;
    cursor: pointer;
}
footer .col .pay-img{
    width: 200px;
    cursor: pointer;
}

footer .col{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: flex-start;
   padding: 0 15px;
}

footer h4{
    font-size: 18px;
    padding-bottom: 15px;
}
footer strong{
    font-size: 18px;
    margin: 0 0 8px 0;
}
footer p span{
    font-size: 14px;
    color: rgb(105, 97, 97);
   
}

footer a{
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 10px;
    color: cadetblue;
}
footer a:hover{
    color: blue;
    text-decoration: underline;
}
footer .follow{
    margin-top: 20px;
}
footer .icon span{
    color: rgb(74, 17, 206);
    padding-right: 4px;
    cursor: pointer;
    display: inline;
} 

footer .install .row{
    margin: 10px 0;
}

footer .copyright{
    width: 100%;
    text-align: center;

}
footer .copyright p{
    font-size: 14px;
}





